body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    margin-top: 5px;
    height: auto;
    background-color: #f8f9fa;
}

.pagebody {
    background-color: rgb(223, 228, 234);
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item {
    flex: 1 0 21%;
    margin: 1%;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
    height: 400px;
    position: relative;
    transition: all 0.3s ease;
}

.product-item:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transform: translateY(-5px);
}

.product-item img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.product-item .detail-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px 20px;
    display: none;
    transition: all 0.3s ease;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255, 234, 167, 0.8);
}

.product-item:hover .detail-text {
    display: block;
}

.product-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.3s ease;
    border-radius: 20px;
}

.product-item:hover::before {
    opacity: 1;
}

.add-to-cart {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    display: none;
    text-align: center;
    padding: 10px 0;
    background-color: #a19b3d;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.product-item:hover .add-to-cart {
    display: block;
}

.add-to-cart:hover {
    background-color: #c0c737;
}

.device-type {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f8f9fa;
}

.device-type div {
    padding: 15px;
    font-size: 18px;
    color: #333;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: rgb(236, 204, 104);
}

.device-type div:hover {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.device-type a {
    text-decoration: none;
    color: rgb(2, 5, 22);
}

.mySlides img {
    display: none;
}

.uudai .mySlides {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: rgb(255, 234, 167);
    color: black;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

footer h3 {
    margin-top: 0;
}

footer p {
    margin: 0.5em 0;
}

p {
    color: rgb(241, 196, 15);
    font-weight: bold;
}

h2 {
    font-weight: bold;
    margin-left: 15px;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .device-type .btn {
        font-size: 12px;
        padding: 8px;
    }
}

@media (max-width: 576px) {
    .product-item {
        height: 350px;
    }
}